{% extends "bases_des_pages_de_gestion.html" %}

{% block bd %}text-blue-50{% endblock%}

{% block t_ali %}text-gray-700{%endblock %}

{% block titre %}
<h1 class="text-7xl text-center uppercase text-gray-700">produits alimentaires</h1>
{% endblock titre %}

{% block head_tableau %}
<tr class="odd:bg-slate-50">
    <th scope="col" class="py-4 px-3">Id</th>
    <th scope="col" class="py-4 px-3">Nom du produit</th>
    <th scope="col" class="py-4 px-3">Categorie</th>
    <th scope="col" class="py-4 px-3">Quantite</th>
    <th scope="col" class="py-4 px-3">Date de fabrication</th>
    <th scope="col" class="py-4 px-3">Date d'expiration</th>
    <th scope="col" class="py-4 px-3">Action</th>

</tr>
{% endblock head_tableau %}

{% block body_tableau %}
{% for i in range(0, 20):%}
{% if i % 2 == 0%}
<tr class="border-b border-neutral-200 odd:bg-blue-50">
{% else %}
<tr class="border-b border-neutral-200 odd:bg-blue-50">
{% endif %}
    <td class="whitespace-nowrap py-4 px-4">12</td>
    <td class="whitespace-nowrap py-4 px-4">Bueno</td>
    <td class="whitespace-nowrap py-4 px-4">Chocolat</td>
    <td class="whitespace-nowrap py-4 px-4">50</td>
    <td class="whitespace-nowrap py-4 px-4">2024</td>
    <td class="whitespace-nowrap py-4 px-4">2025</td>
    <td class="whitespace-nowrap py-4 px-4">
        <svg class="w-6 h-6 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"/>
          </svg>
          
    </td>
</tr>
{% endfor %}
{% endblock body_tableau %}